<div class='container my-auto'>
  <form action='/artist-search' , method='GET'>
    <div class='mb-3'>
      <label for='artist' class='form-label'>Artist name</label>
      <input type='text' name='artist' class='form-control' required />
    </div>
    <button type='submit' class='btn btn-light'>Submit</button>
  </form>
</div>