<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <p>This is an .hbs file</p>
    <p>Hello {{name}}</p>
    <p>My age is: {{age}}</p>
    {{!-- This gets executed if THIS is truthy --}}
    {{#if err}}
      <p>This is you err: {{err}}</p>
    {{else}}
      <p>Congratz, there is no err</p>
    {{/if}}
    <br>

    {{!-- This gets executed if THIS is Falsy --}}

    {{#unless address}}
      <h3>WARNING: We can't find the address!</h3>
    {{/unless}}

    {{>button}}
</html>