<p>This is the profile page</p>

{{#if user}}
  <h2>Welcome, {{user.username}}!</h2>
  <p>This is your profile page my friend!</p>
  <div>
    <img src='{{user.profile_pic}}' />
  </div>
  <button>
    <a href='/profile'>Reload the page</a>
  </button>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}

{{#if message}}
  <h2>Message: , {{message}}!</h2>
{{/if}}